body {
  background: linear-gradient(to bottom, #4fc3f7, #0288d1, #01579b, #001f3f);
  color: ghostwhite;
}

nav {
  color: rgba (0, 31, 63, 0.7);
}

nav a {
  color: ghostwhite;
}
nav a:hover {
  color: #7fdbff;
}
nav a:active {
  color: #2ec4b6;
}
h1 {
  color: ghostwhite;
}
h2 {
  color: #7fdbff;
}
h3 {
  color: #2ec4b6;
}
p {
  color: #d6eaf8;
}
